.wrapper {
    width: 1920px;
    height: 1000px;
    margin: 0 auto;
    background-color: #F1E4D7;
    padding-top: 10px;
}    

.header {
    width: 1784px; /* Ширина меньше ширины родителя */
    height: 95px;
    display: flex;
    align-items: center; /* Вертикальное выравнивание элементов по центру */
    background-color: #FCF6EE;
    border-radius: 30px;  
    margin: 20px auto; /* Отступ сверху и центрирование по горизонтали */
}

.left {
    display: flex;
    gap: 30px; /* Промежуток между элементами */
}

.square {
    margin-left: 35px; /* Отступ слева для элемента */
    width: 69px; /* Ширина элемента */
    height: 69px; /* Высота элемента */
    background: #EBD3B7; /* Цвет фона */
    border-radius: 25px; /* Закругленные углы */
}

.right {
    display: flex; /* Создает флекс-контейнер */
    align-items: center; /* Центрирует элементы по вертикали внутри контейнера */
    justify-content: flex-end; /* Выравнивание элементов по правому краю контейнера */
    margin-left: 1130px; /* Устанавливаем отступ между левым краем header и rounded-rectangle */
}

.rounded-rectangle {
    width: 293px; /* Ширина прямоугольника */
    height: 52px; /* Высота прямоугольника */
    background-color: #EBD3B7; /* Цвет фона */
    border-radius: 10px; /* Закругленные углы */
    margin: 0;
    cursor: pointer; 
    
}

.image-container1 {
    position: relative; /* Устанавливает контекст для абсолютного позиционирования */
    margin: 0;
    transition: background-color 0.3s ease; /* Плавный переход цвета */
    border-radius: 10px; /* Закругленные углы */
}

.rounded-rectangle :hover {
    position: relative; /* Устанавливает контекст для абсолютного позиционирования */
    margin: 0;
    background-color:  #FCF6EE; /* Изменяем цвет фона при наведении */
    border-radius: 10px; /* Закругленные углы */
    opacity: 0.95;

}

.image-container1  :hover {
    position: relative; /* Устанавливает контекст для абсолютного позиционирования */
    margin: 0;
    background-color:  #FCF6EE; /* Изменяем цвет фона при наведении */
    border-radius: 10px; /* Закругленные углы */
    opacity: 0.95;
}

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Устанавливаем высоту для html и body */
    margin: 0; /* Убираем отступы */
}

.container-profile {
    display: flex; /* Используем Flexbox для расположения дочерних элементов */
    justify-content: space-between; /* Размещаем элементы по краям */
    align-items: center; /* Центрируем содержимое по вертикали */
    height: 100%; /* Устанавливаем высоту для контейнера */
    padding: 0 20px; /* Добавляем отступы по бокам, если нужно */
    
}

.left-pro {
    display: flex; /* Используем Flexbox для выравнивания содержимого */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: flex-start; /* Выравниваем содержимое по верхнему краю */
}

.circle {
    width: 339px;
    height: 339px;
    background: #FCF6EE;
    border-radius: 50%; /* Делает элемент кругом */
    position: relative; /* Для позиционирования текста внутри круга */
    left: 250px;
    bottom: 200px;
}

.text-pro {
    white-space: pre-wrap;
    font-family: Poiret One, sans-serif;
    font-size: 48px;
    text-align: center; /* Центрируем текст */
    color: #633800;
    position: absolute; /* Позволяет позиционировать текст относительно родителя */
    top: 60%; /* Позиционируем ниже центра вертикально */
    left: 50%; /* Позиционируем по центру горизонтально */
    transform: translate(-50%, +50%); /* Смещаем текст на половину его ширины и высоты */
}

.right-pro {
    position: relative; /* Устанавливаем относительное позиционирование */
    margin: 300px; /* Сдвигаем вправо на 100 пикселей (или любое другое значение) */
    bottom: 300px;
}

.app {
    
    display: flex;
    
    
}

.app__controls {
    display: grid;
    grid-template-columns: 1fr auto; /* Используем 1fr для текстового поля и auto для кнопки */
    align-items: center; /* Центрируем элементы по вертикали */
}

.app__controls-input {
    border: none;
    border-radius: 10px 0 0 10px ;
    font-family: 'Poiret One', sans-serif; /* Шрифт для текста */
    font-size: 36px; /* Размер текста */
    color: #633800; /* Цвет текста */
    padding: 10px; /* Добавляем немного внутреннего отступа */
    width: 100%; /* Занимаем всю доступную ширину */
}

.app__controls-button {
    border: none; 
    border-radius: 0 10px 10px 0;
    background: #EBD3B7;
    font-family: 'Poiret One', sans-serif; /* Шрифт для текста */
    font-size: 36px; /* Размер текста */
    color: #633800; /* Цвет текста */
    padding: 10px; /* Добавляем немного внутреннего отступа */
}

.app__controls-button:hover { 
    cursor: pointer;
    background: #FCF6EE;
}
