.wrapper {
    width: 1920px;
    height: 1000px;
    margin: 0 auto;
    background-color: #F1E4D7;
    padding-top: 10px;
}    

.header {
    width: 1784px; /* Ширина меньше ширины родителя */
    height: 95px;
    display: flex;
    align-items: center; /* Вертикальное выравнивание элементов по центру */
    background-color: #FCF6EE;
    border-radius: 30px;  
    margin: 20px auto; /* Отступ сверху и центрирование по горизонтали */
}

.left {
    display: flex;
    gap: 30px; /* Промежуток между элементами */
}

.square {
    margin-left: 35px; /* Отступ слева для элемента */
    width: 69px; /* Ширина элемента */
    height: 69px; /* Высота элемента */
    background: #EBD3B7; /* Цвет фона */
    border-radius: 25px; /* Закругленные углы */
}

.right {
    display: flex; /* Создает флекс-контейнер */
    align-items: center; /* Центрирует элементы по вертикали внутри контейнера */
    justify-content: flex-end; /* Выравнивание элементов по правому краю контейнера */
    margin-left: 1130px; /* Устанавливаем отступ между левым краем header и rounded-rectangle */
}

.rounded-rectangle {
    width: 293px; /* Ширина прямоугольника */
    height: 52px; /* Высота прямоугольника */
    background-color: #EBD3B7; /* Цвет фона */
    border-radius: 10px; /* Закругленные углы */
    margin: 0;
    cursor: pointer; 
    
}

.image-container1 {
    position: relative; /* Устанавливает контекст для абсолютного позиционирования */
    margin: 0;
    transition: background-color 0.3s ease; /* Плавный переход цвета */
    border-radius: 10px; /* Закругленные углы */
}

.rounded-rectangle :hover {
    position: relative; /* Устанавливает контекст для абсолютного позиционирования */
    margin: 0;
    background-color:  #FCF6EE; /* Изменяем цвет фона при наведении */
    border-radius: 10px; /* Закругленные углы */
    opacity: 0.95;

}

.image-container1  :hover {
    position: relative; /* Устанавливает контекст для абсолютного позиционирования */
    margin: 0;
    background-color:  #FCF6EE; /* Изменяем цвет фона при наведении */
    border-radius: 10px; /* Закругленные углы */
    opacity: 0.95;
}

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Устанавливаем высоту для html и body */
    margin: 0; /* Убираем отступы */
}

.container-profile {
    display: flex; /* Используем Flexbox для расположения дочерних элементов */
    justify-content: space-between; /* Размещаем элементы по краям */
    align-items: center; /* Центрируем содержимое по вертикали */
    height: 100%; /* Устанавливаем высоту для контейнера */
    padding: 0 20px; /* Добавляем отступы по бокам, если нужно */
    
}

.left-pro {
    display: flex; /* Используем Flexbox для выравнивания содержимого */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: flex-start; /* Выравниваем содержимое по верхнему краю */
}

.circle {
    width: 339px;
    height: 339px;
    background: #FCF6EE;
    border-radius: 50%; /* Делает элемент кругом */
    position: relative; /* Для позиционирования текста внутри круга */
    left: 250px;
    bottom: 200px;
}

.text-pro {
    white-space: pre-wrap;
    font-family: Poiret One, sans-serif;
    font-size: 48px;
    text-align: center; /* Центрируем текст */
    color: #633800;
    position: absolute; /* Позволяет позиционировать текст относительно родителя */
    top: 60%; /* Позиционируем ниже центра вертикально */
    left: 50%; /* Позиционируем по центру горизонтально */
    transform: translate(-50%, +50%); /* Смещаем текст на половину его ширины и высоты */
}

.right-pro {
    display: flex; /* Используем Flexbox для выравнивания круга с текстом */
    flex-direction: column; /* Располагаем круги в столбик */
    align-items: center; /* Центрируем содержимое по горизонтали */
    position: relative; /* Устанавливаем относительное позиционирование */
    right: 650px; /* Сдвигаем   */
    bottom: 120px;
}
.circle-container {
    display: flex; /* Используем Flexbox для расположения кругов в ряд */
    flex-direction: column; /* Изменяем направление на столбик */
    gap: 50px; /* Промежуток между кругами */
}

.circle2 {
    display: flex;
    width: 64px; /* Ширина круга */
    height: 64px; /* Высота круга */
    border-radius: 50%; /* Закругленные углы для создания круга */
    background-color: #FCF6EE; /* Цвет фона круга */
    align-items: center; /* Вертикальное выравнивание текста по центру */
    justify-content: center; /* Горизонтальное выравнивание текста по центру */
    position: relative; /* Для позиционирования текста внутри круга */
}

.circle2 span {
    color: #633800; /* Цвет текста */
    font-family: 'Poiret One', sans-serif; /* Шрифт текста */
    font-size: 36px;
    position: absolute; /* Позволяет позиционировать текст относительно родителя */
    top: 50%; /* Позиционируем по центру вертикально */
    left: 50%; /* Позиционируем по центру горизонтально */
    transform: translate(0%, 0%); /* Смещаем текст немного вправо и вниз */
    z-index: 1;
    white-space: nowrap; /* Запрещаем перенос текста на новую строку */
}

.circle2:hover {
    background-color: #EBD3B7; /* Цвет фона круга */
    cursor: pointer;
}
