.wrapper {
    width: 1920px;
    height: 4788px;
    margin: 0 auto;
    background-color: #F1E4D7;
    padding-top: 10px;
}    

.header {
    width: 1784px; /* Ширина меньше ширины родителя */
    height: 95px;
    display: flex;
    align-items: center; /* Вертикальное выравнивание элементов по центру */
    background-color: #FCF6EE;
    border-radius: 30px;  
    margin: 20px auto; /* Отступ сверху и центрирование по горизонтали */
}

.left {
    display: flex;
    gap: 30px; /* Промежуток между элементами */
}

.square {
    margin-left: 35px; /* Отступ слева для элемента */
    width: 69px; /* Ширина элемента */
    height: 69px; /* Высота элемента */
    background: #EBD3B7; /* Цвет фона */
    border-radius: 25px; /* Закругленные углы */
}

.right {
    display: flex; /* Создает флекс-контейнер */
    align-items: center; /* Центрирует элементы по вертикали внутри контейнера */
    justify-content: flex-end; /* Выравнивание элементов по правому краю контейнера */
    margin-left: 1130px; /* Устанавливаем отступ между левым краем header и rounded-rectangle */
}

.rounded-rectangle {
    width: 293px; /* Ширина прямоугольника */
    height: 52px; /* Высота прямоугольника */
    background-color: #EBD3B7; /* Цвет фона */
    border-radius: 10px; /* Закругленные углы */
    margin: 0;
    cursor: pointer; 
    
}

.image-container {
    position: relative; /* Устанавливает контекст для абсолютного позиционирования */
    margin: 0;
}


.photo {
    margin-top: 60px;
    margin-left: 70px;
    width: 1784px; /* Ширина изображения */
    height: 645px; /* Высота изображения */
}

.text-rectangle {
    padding-left: 20px;
    position: absolute; /* Абсолютное позиционирование относительно контейнера */
    top: 100px; /* Расстояние от верхней границы контейнера */
    left: 110px; /* Расстояние от левой границы контейнера */
    width: 795px; /* Ширина прямоугольника с текстом */
    height: 350px; /* Высота прямоугольника с текстом */
    background-color: #FCF6EE; /* Полупрозрачный белый цвет фона */
    border-radius: 30px; /* Закругленные углы */
    display: flex; /* Используем Flexbox для центрирования текста внутри прямоугольника */
    justify-content: left; /* Центрируем текст по горизонтали */
    align-items: center; /* Центрируем текст по вертикали */
    opacity: 70%;
}

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

.element {
    display: flex; /* Используем Flexbox для выравнивания элементов */
    align-items: center; /* Выравниваем элементы по центру по вертикали */
}

.container {
    display: flex; /* Создаем контейнер для Flexbox */
}

.text {
    margin-left: 69px;
    margin-right: 20px; /* Отступ между текстом и изображением */
}

.image img {
    margin-top: 69px;
    margin-right: 69px;
    height: auto; /* Сохраняем пропорции изображения */
    width: 421px;
    height: 466.38px;
}

.text_cen {
    display: flex; /* Включаем Flexbox */
    margin-top: 40px;
    margin-left: 798px;
}

.container_tab {
    width: 90%; /* Устанавливаем ширину контейнера */
    margin: 0 auto; /* Центрируем контейнер */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Три равные колонки */
    gap: 40px; /* Промежуток между элементами */
    margin-top: 40px; /* Отступ сверху */
}

.grid-header {
    font-size: 48px;
    color: #633800;
    text-align: center;
    font-weight: normal;
}

.grid-item {
    background-color: #FCF6EE; /* Цвет фона ячеек */
    color: #633800; /* Цвет текста */
    font-size: 48px;
    padding: 15px 20px; /* Внутренние отступы (сверху/снизу и справа/слева) */
    text-align: left; /* Выравнивание текста влево */
    display: flex; /* Используем flexbox для выравнивания */
    align-items: center; /* Центрируем элементы по вертикали */
    border-radius: 10px; /* Закругление углов ячеек */
    margin-bottom: none; /* Отступ между ячейками */
}

.grid-item:hover {
    background-color: #EBD3B7; /* Изменяем цвет фона при наведении */
    transition: background-color 0.3s ease; /* Плавный переход цвета */
}

.app__list-checkbox {
    border-radius: 15px;
    width: 49px; 
    height: 49px;
    margin-right: 10px; /* Отступ между чекбоксом и текстом */
    color: #EBD3B7; 
    cursor: pointer; 
}

