.wrapper {
    width: 1920px;
    height: 4600px;
    margin: 0 auto;
    background-color: #F1E4D7;
    padding-top: 10px;
}    

.header {
    width: 1784px; /* Ширина меньше ширины родителя */
    height: 95px;
    display: flex;
    align-items: center; /* Вертикальное выравнивание элементов по центру */
    background-color: #FCF6EE;
    border-radius: 30px;  
    margin: 20px auto; /* Отступ сверху и центрирование по горизонтали */
}

.left {
    display: flex;
    gap: 30px; /* Промежуток между элементами */
}

.square {
    margin-left: 35px; /* Отступ слева для элемента */
    width: 69px; /* Ширина элемента */
    height: 69px; /* Высота элемента */
    background: #EBD3B7; /* Цвет фона */
    border-radius: 25px; /* Закругленные углы */
}

.right {
    display: flex; /* Создает флекс-контейнер */
    align-items: center; /* Центрирует элементы по вертикали внутри контейнера */
    justify-content: flex-end; /* Выравнивание элементов по правому краю контейнера */
    margin-left: 1130px; /* Устанавливаем отступ между левым краем header и rounded-rectangle */
}

.rounded-rectangle {
    width: 293px; /* Ширина прямоугольника */
    height: 52px; /* Высота прямоугольника */
    background-color: #EBD3B7; /* Цвет фона */
    border-radius: 10px; /* Закругленные углы */
    margin: 0;
    cursor: pointer; 
    
}

.image-container1 {
    position: relative; /* Устанавливает контекст для абсолютного позиционирования */
    margin: 0;
    transition: background-color 0.3s ease; /* Плавный переход цвета */
    border-radius: 10px; /* Закругленные углы */
}

.rounded-rectangle :hover {
    position: relative; /* Устанавливает контекст для абсолютного позиционирования */
    margin: 0;
    background-color:  #FCF6EE; /* Изменяем цвет фона при наведении */
    border-radius: 10px; /* Закругленные углы */
    opacity: 0.95;

}

.image-container1  :hover {
    position: relative; /* Устанавливает контекст для абсолютного позиционирования */
    margin: 0;
    background-color:  #FCF6EE; /* Изменяем цвет фона при наведении */
    border-radius: 10px; /* Закругленные углы */
    opacity: 0.95;
}

.image-container2 {
    position: relative; /* Устанавливает контекст для абсолютного позиционирования */
    margin: 0;
}

.photo {
    margin-top: 60px;
    margin-left: 70px;
    width: 1784px; /* Ширина изображения */
    height: 645px; /* Высота изображения */
}

.text-rectangle {
    padding-left: 20px;
    position: absolute; /* Абсолютное позиционирование относительно контейнера */
    top: 100px; /* Расстояние от верхней границы контейнера */
    left: 110px; /* Расстояние от левой границы контейнера */
    width: 795px; /* Ширина прямоугольника с текстом */
    height: 350px; /* Высота прямоугольника с текстом */
    background-color: #FCF6EE; /* Полупрозрачный белый цвет фона */
    border-radius: 30px; /* Закругленные углы */
    display: flex; /* Используем Flexbox для центрирования текста внутри прямоугольника */
    justify-content: left; /* Центрируем текст по горизонтали */
    align-items: center; /* Центрируем текст по вертикали */
    opacity: 70%;
}

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

.element {
    display: flex; /* Используем Flexbox для выравнивания элементов */
    align-items: center; /* Выравниваем элементы по центру по вертикали */
}

.container {
    display: flex; /* Создаем контейнер для Flexbox */
}

.text {
    margin-left: 69px;
    margin-right: 20px; /* Отступ между текстом и изображением */
}

.image img {
    margin-top: 69px;
    margin-right: 69px;
    height: auto; /* Сохраняем пропорции изображения */
    width: 421px;
    height: 466.38px;
}

.text_cen {
    display: flex; /* Включаем Flexbox */
    margin-top: 40px;
    margin-left: 798px;
}

.container_tab {
    width: 90%; /* Устанавливаем ширину контейнера */
    margin: 0 auto; /* Центрируем контейнер */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Три равные колонки */
    gap: 40px; /* Промежуток между элементами */
    margin-top: 40px; /* Отступ сверху */
}

.grid-header {
    font-size: 48px;
    color: #633800;
    text-align: center;
    font-weight: normal;
}

.grid-item {
    background-color: #FCF6EE; /* Цвет фона ячеек */
    color: #633800; /* Цвет текста */
    font-size: 48px;
    padding: 15px 20px; /* Внутренние отступы (сверху/снизу и справа/слева) */
    text-align: center; /* Выравнивание текста влево */
    display: flex; /* Используем flexbox для выравнивания */
    align-items: center; /* Центрируем элементы по вертикали */
    border-radius: 10px; /* Закругление углов ячеек */
    margin-bottom: none; /* Отступ между ячейками */
}

.grid-item:hover {
    background-color: #EBD3B7; /* Изменяем цвет фона при наведении */
    transition: background-color 0.3s ease; /* Плавный переход цвета */
}

.app__list-checkbox {
    border-radius: 15px;
    width: 49px; 
    height: 49px;
    margin-right: 10px; /* Отступ между чекбоксом и текстом */
    color: #EBD3B7; 
    cursor: pointer; 
}

.custom-block {
    width: 414px; /* Ширина блока */
    height: 91px; /* Высота блока */
    border-radius: 50px; /* Скругление углов */
    background-color: #FCF6EE; /* Цвет фона блока */
    display: flex; /* Используем Flexbox для центрирования текста */
    justify-content: center; /* Центрируем текст по горизонтали */
    align-items: center; /* Центрируем текст по вертикали */
    margin-top: none;
    margin-left: 305px;
    transform: translateY(-500px); 
    }

.custom-block:hover {
    background-color: #EBD3B7; 
    cursor: pointer;
}

.cell {
    width: 640px; /* Ширина блока */
    height: 220px; /* Высота блока */
    background-color: #FCF6EE; /* Цвет фона ячеек */
    color: #633800; /* Цвет текста */
    font-size: 48px;
    padding: 15px; /* Внутренние отступы */
    text-align: center; /* Выравнивание текста по центру */
    border-radius: 10px; /* Закругление углов ячеек */
    margin: 0 10px; /* Отступы между ячейками по горизонтали */
}

.cell:hover {
    background-color: #EBD3B7; /* Изменяем цвет фона при наведении */
    transition: background-color 0.3s ease; /* Плавный переход цвета */
}

html, body {
    height: 100%; /* Устанавливаем высоту для html и body */
    margin: 0; /* Убираем отступы */
}

.container_vek {
    display: flex; /* Используем Flexbox для расположения элементов */
    justify-content: space-between; /* Распределяем пространство между элементами */
    align-items: center; /* Центрируем элементы по вертикали */
}

.Vector1 {
    flex: 0 0 auto; /* Не растягиваем первый вектор */
}

.Vector2 {
    margin-left: auto; /* Это свойство заставляет второй вектор двигаться к правому краю */
}

.container_vibora {
    display: flex; /* Используем Flexbox */
    padding: 20px;
    justify-content: center; /* Центрируем содержимое по горизонтали */
    margin-top: 200px; /* Отступ сверху для отделения от блока "Составить образ" */
    margin-left: -550px;
}

.container-rec {
    position: relative; /* Контейнер с относительным позиционированием */
    width: 300px; /* Укажите ширину контейнера */
    height: 200px; /* Укажите высоту контейнера */
}

.image1 {
    position: absolute; /* Абсолютное позиционирование для наложения */
    z-index: 1; /* Этот элемент будет ниже */
}

.verh-block {
    position: absolute; /* Абсолютное позиционирование для наложения */
    z-index: 3; /* Этот элемент будет выше */
    white-space: pre-wrap;
    font-family: 'Poiret One', sans-serif;
    font-size: 48px;
    color: #633800;
    text-align: center; /* Центрируем текст внутри блока */
    margin-top: 200px;
}

.container-text {
    display: flex; /* Используем flexbox для выравнивания */
    flex-direction: column; /* Располагаем элементы по вертикали */
    align-items: center; /* Центрируем по горизонтали */
    text-align: center; /* Центрируем текст внутри блока */ 
}

.container-svyaz {
    margin-top: 600px;
    display: flex; /* Используем flexbox */
    flex-direction: column; /* Располагаем элементы по вертикали */
    align-items: center; /* Центрируем по горизонтали */
    justify-content: center; /* Центрируем по вертикали */
    text-align: center; /* Центрируем текст внутри блоков */
    font-family: 'Poiret One', sans-serif;
    font-size: 48px; /* Используем vw для адаптивного размера шрифта */
    color: #633800;
    padding: 20px; /* Добавляем отступы для видимости */
}

.text-block {
    margin: 30px; 
}

.line {
    width: 1571px; /* Ширина линии в процентах от ширины окна */
    height: 0; /* Высота линии (0 для горизонтальной линии) */
    border-top: 1px solid #633800; /* Верхняя граница для создания линии */
    opacity: 1; /* Устанавливаем непрозрачность на 1 для видимости */
    position: relative; /* Изменяем на relative для нормального потока документа */
    margin: 20px; /* Добавляем отступы сверху и снизу для линии */
}
